<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
{% extends 'head.html' %}
{% block content %}
<div class="container">
    <div class="text-page">
        <h1>Downloader video</h1>
        <h2>Download Video from YouTube</h2>
    </div>
    <div class="icon-logo">
        {% load static %}
        <img id="icon-img" src="{% static 'img/youtube.png' %}" alt="My image">
    </div>
    <div class="create-video">
        {{error}}
        <form class="my-video" action="/create_video/video/" method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button class="btn-download">
                Download
            </button>
        </form>
    </div>
</div>
{% endblock %}
</body>

</html>