<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body class="fondo-sign">
    {% extends 'head.html' %}
    {% block content %}
    {{error}}
    <form class="form-controll" action="/sign_up/" method="POST">
        {% csrf_token %}
        <h1>Sign in</h1>
        <div class="container-input">
            <label for="username">Enter your username</label>
            <input type="text" name="username" id="username" placeholder="enter your username">
        </div>
        <div class="container-input">
            <label for="password1">Enter your password</label>
            <input type="password" name="password1" id="password1" placeholder="enter your password">
        </div>
        <div class="container-input">
            <label for="password2">Confirm your password</label>
            <input type="password" name="password2" id="password2" placeholder="confirm your password">
        </div>
        <button class="">Sign up</button>
    </form>
    {% endblock %}
</body>

</html>